<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css">
		<link href="https://unpkg.com/@saeris/typeface-beleren-bold@latest/index.css" rel="stylesheet" type="text/css" />

		<title>New Cards</title>
	</head>
	<body>
		<h1>New Card Page</h1>
		<form action="/wishlist/" method="POST">
            Quantity: <input type="number" name="qty" /><br />
			List: <select name="list" id="list" value="<%= card.list %>">
				<option value="<%= card.list %>"><%= card.list %></option>
				</select>
			<input type="submit" name="" value="Add Cards" />
		</form>
	</body>
	</body>
</html>